/* .header ul li:hover {

} */

.header {
    margin-top: .5rem;
    padding-left: 10px;
}

.header h3 a {
    color:white;

}
.header h3 a:hover {
    color:rgb(0, 188, 140);

}

.header ul .active {
    color:rgb(255, 176, 150);
}

.header ul li {
    list-style: none;
    margin: 0;
    padding: .5rem 1rem;
    border-radius: 3px;
}

.header ul li:hover {
    background-color: #444;
}

.header button {
    height: max-content;
    /* padding: .15rem 0; */
}